
.gallery{
    float:none;
    margin:5px;
    width:600px;
    font-size:20px;
}
p{
    font-size:20px;
}
h2{
    border-bottom:2px solid red;
    margin-right:1430px;
}
img{
    margin-left:200px;
    float:right;
}