body{
    background-color:rgba(73, 5, 73, 0.745);
}
.gallery{
    float:none;
    margin:5px;
    width:600px;
    font-size:20px;
    color:white;
}
.list{
    list-style-type: none;
    overflow:hidden;
    border-bottom:1px solid red;
    margin-right:120px;
    margin-left:120px;
    color:white;
}
.push{
    list-style-type: none;
    overflow:hidden;
    margin:0;
    padding:0;
    float:right;
    color:white;
}
.push a{
    display:block;
    padding:8px;
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:20px;
}
.push a:hover{
    color:deeppink;    
}
p{
    font-size:20px;
    color:white;
}
h2{
    border-bottom:2px solid deeppink;
    margin-right:1370px;
    margin-left: 50px;;
    color:white;
}
img{
    margin-left:200px;
    float:right;
}
h1{
    color:white;
}
a:active{
    color:white;
}
button:hover{
    background-color:deeppink;
    color:white;
}