body{
    background-color:rgba(73, 5, 73, 0.745);
}
li{
    float: right;
}
ul{
    list-style-type: none;
    overflow:hidden;
    margin:0;
    padding:0;
    border-bottom:1px solid red;
    margin-right:120px;
    margin-left:120px;
}
li a{
    display:block;
    padding:8px;
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:20px;
}
li a:hover{
    color:deeppink;
}
p{
    font-size:30px;
    color:white;
}
pre{
    font-size:25px;
    color:white;
}
img{
    margin-left:300px;
}
h1{
    color:white;
}
h3{
    color:white;
    font-size:25px;  
}