
    p{
    font-size:30px;
}
pre{
    font-size:20px;
}
img{
    margin-left:300px;
    border:3px solid rgb(16, 165, 95);
    float:none;
    display:flex;
    text-items:center;
    height:10vth;
}
div{
    margin-left:200px;
    font-size:30px;
}

