body{
    background-color:rgba(73, 5, 73, 0.745);
    border-bottom:3px solid deeppink;
    border-left:3px solid deeppink;
    border-right:3px solid deeppink;
    margin-left: 50px;
    margin-right:50px;
}
li{
    font-size:20px;
    color:white;
}
h1{
    text-align: center;
    color:white;
    background-color: deeppink;
}
h2{
    color:white;  
}
p{
    color:white;
    font-size:20px;
    margin-left: 30px;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}
.img07 img{
    float:right;
    border-radius:60px;
    margin-right:200px;
    
}