body{
    background-color:rgba(73, 5, 73, 0.745);
}
li{
    float: right;
}
ul{
    list-style-type: none;
    overflow:hidden;
    margin:0;
    padding:0;
    border-bottom:1px solid red;
    margin-right:120px;
    margin-left:120px;
}
li a{
    display:block;
    padding:8px;
    color:white;
    text-decoration: none;
    margin-left:20px;
    font-size:20px;
}
li a:hover{
    color:deeppink;
}
.gallery{
    margin:5px;
    float:left;
    width:300px;
    display:block;
    padding:8px;
    gap:300px;
}
.desc{
    padding:5px;
    color:black;
    text-align:center;
}
h1{
    color:white;
}
pre{
    color:white;
    font-size:25px;
}