body{
    background-color:rgba(73, 5, 73, 0.745);
}
li{
    float: right;
}
ul{
    list-style-type: none;
    overflow:hidden;
    margin:0;
    padding:0;
    border-bottom:1px solid red;
    margin-right:120px;
    margin-left:120px;
}
li a{
    display:block;
    padding:8px;
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:20px;
}
li a:hover{
    color:deeppink;
}
.container{
    margin-left:1000px;
    display:flex;
    align-items:center;
    height:90vth;
}
.container .right{
    margin-left:120px;
}
.gallery{
    margin:5px;
    border:3px solid white;
    float:left;
    width:200px;
    gap:300px;
    display:block;
    padding:8px;

}
.desc{
    padding:10px;
    text-align:center;
    color:black;
    color:white;

}
div.p{
    display:flex;
    align-items:center;
    height:90vth;
    color:white;
}
pre{
    font-size:20px;
    margin-left:50px;
    color:white;
}
h1{
    color:white;
}
h3{
    font-family:'Times New Roman', Times, serif;
    color:white;
    margin-left: 50px;
    
}