body{
    background-color:rgba(73, 5, 73, 0.745);
}
li{
    float: right;
}
ul{
    list-style-type: none;
    overflow:hidden;
    margin:0;
    padding:0;
    border-bottom:1px solid red;
    margin-right:120px;
    margin-left:120px;
}
li a{
    display:block;
    padding:8px;
    color:white;
    text-decoration:none;
    margin-left:20px;
}
li a:hover{
    color:deeppink;
}
.container{
    margin-left:50px;
    display:flex;
    align-items:center;
    height:90vth;
}
.container .left{
    width:700px;
}
h1{
    color:white;
    margin-left:100px;
}
p{
    color:whitesmoke;
    margin-left:100px;
}
img{
    border-radius:300px;
    margin-top:100px;

}
.container .right{
    margin-left:120px;
}
.a{
    color:white;
    
    
    margin-left:400px;
    font-weight:300;
    font-size: 30px;
}
a:hover{
    color:deeppink;
}